<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<table th:fragment="empForm(employee, deptList)" border="1" cellpadding="4" cellspacing="0">
		<tbody>
			<tr>
				<td>EmpName</td>
				<td><input name="empName" th:value="${employee?.ename}"></td>
			</tr>
			<tr>
				<td>EmpJob</td>
				<td><input name="empJob" th:value="${employee?.job}"></td>
			</tr>
			<tr>
				<td>HireDate</td>
				<td><input name="hireDate" th:value="${employee != null ? #dates.format(employee.hiredate, 'yyyy-MM-dd') : null}"></td>
			</tr>
			<tr>
				<td>Salary</td>
				<td><input name="sal" th:value="${employee?.sal}"></td>
			</tr>
			<tr>
				<td>Comm</td>
				<td><input name="comm" th:value="${employee?.comm}"></td>
			</tr>
			<tr>
				<td>EmpDeptNo</td>
				<td>
					<select name="empDeptno">
					    <option th:each="dept : ${deptList}"
					            th:value="${dept.deptno}"
					            th:selected="${employee != null and dept.deptno == employee.empdeptno}"
					            th:text="${dept.dname}"></option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>

	<script th:fragment="messageAlert(message)" th:if="${message != null}" th:inline="javascript">
		alert(/*[[${message}]]*/ '');
	</script>

</body>
</html>
