<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Purchase System</title>

	<!-- 引入css資源 -->
	 <th:block th:replace="~{admin/index :: adminIndex-css}"></th:block>
</head>
<body>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- 引入側邊欄 -->
        <ul th:replace="~{admin/index :: adminIndex-sidebar}"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- 引入Topbar -->
                <nav th:replace="~{admin/index :: adminIndex-topbar}"></nav>

                <!-- 這裡放頁面自己的內容 -->
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">採購系統</h1>
                    
                    
                    
                    
                    
                    
                    
                    
                </div>

            </div>

            <!-- 引入Footer -->
            <footer th:replace="~{admin/index :: adminIndex-footer}"></footer>

        </div>
    </div>

    <!-- Scroll to Top Button-->
    <span class="scroll-to-top rounded">
        <i class="fas fa-angle-up"></i>
    </span>
		<!-- 	引入js資源     -->
    <th:block th:replace="~{admin/index :: adminIndex-scripts}"></th:block>

</body>

</body>
</html>