<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Order Main</title>
</head>
<body>
	<table border="1" cellpadding="4" cellspacing="0">
		<tr>
			<th>Get All</th>
			<td><a th:href="@{/example/order/getall}">Get all</a></td>
		</tr>
		<tr>
			<th>Get All with JOIN</th>
			<td><a th:href="@{/example/order/getalljoin}">Get all with join</a></td>
		</tr>
		<tr>
			<th>Add new Order</th>
			<td><a th:href="@{/example/order/add}">Add new order</a></td>
		</tr>
		<tr>
			<th>Edit Order by ordersId</th>
			<td><a th:href="@{/example/order/edit}">Edit Order by ordersId</a></td>
		</tr>
		<tr>
			<th>Delete Order by ordersId</th>
			<td><a th:href="@{/example/order/delete}">Delete Order by ordersId</a></td>
		</tr>
	</table>
</body>
</html>